.hero-wrap{
	width: 100%;
	height: 850px;
	position: inherit;

	background: rgb(255,255,255);
	background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(228,228,228,1) 80%, rgba(218,217,217,1) 100%);

	.overlay{
		position: absolute;
		// width: 50%;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		content: '';
		opacity: 0;
		background: $black;
	}
	&.hero-wrap-2{
		height: 600px !important;
		position: relative;
		.overlay{
			width: 100%;
			opacity: .05
		}
		.slider-text{
			height: 600px !important;
		}
	}
	
}
